<svg width="1200px" height="600px">
	<rect x="20" y="112" width="50" height="25" fill="Cyan"  />
	<text x="30" y="129" >1</text>
	<rect x="20" y="212" width="50" height="25" fill="Cyan"  />
	<text x="30" y="229" >2</text>
	<rect x="20" y="312" width="50" height="25" fill="Cyan"  />
	<text x="30" y="329" >3</text>
	<rect x="20" y="412" width="50" height="25" fill="Cyan"  />
	<text x="30" y="429" >4</text>
	<rect x="20" y="512" width="50" height="25" fill="Cyan"  />
	<text x="30" y="529" >6</text>
	<rect x="20" y="612" width="50" height="25" fill="Cyan"  />
	<text x="30" y="629" >7</text>
	<rect x="20" y="712" width="50" height="25" fill="Cyan"  />
	<text x="30" y="729" >8</text>
	<path d="M 1435 110 L 1235 110 " stroke="black" />
	<path d="M 1435 110 L 1435 230 " stroke="black" />
	<path d="M 1420 80 L 1482 105 1420 130 Z " fill="green" />
	<text x="1430" y="109" >19</text>
	<path d="M 1235 190 L 1035 190 " stroke="black" />
	<path d="M 1235 190 L 1435 330 " stroke="black" />
	<path d="M 1220 160 L 1282 185 1220 210 Z " fill="green" />
	<text x="1230" y="189" >20</text>
	<path d="M 635 270 L 435 270 " stroke="black" />
	<path d="M 635 270 L 1435 430 " stroke="black" />
	<path d="M 620 240 L 682 265 620 290 Z " fill="green" />
	<text x="630" y="269" >21</text>
	<path d="M 1235 110 L 1035 190 " stroke="black" />
	<path d="M 1235 110 L 1435 130 " stroke="black" />
	<path d="M 1220 80 L 1282 105 1220 130 Z " fill="green" />
	<circle cx=1282 cy=105 r=7 fill="green" />
	<text x="1230" y="109" >18</text>
	<path d="M 235 190 L 35 130 " stroke="black" />
	<path d="M 220 160 L 282 185 220 210 Z " fill="green" />
	<circle cx=282 cy=185 r=7 fill="green" />
	<text x="230" y="189" >15</text>
	<path d="M 435 110 L 235 190 " stroke="black" />
	<path d="M 435 110 L 35 630 " stroke="black" />
	<path d="M 420 80 470 80 Q 495 105 470 130 L 420 130 Z " fill="red" />
	<text x="430" y="109" >9</text>
	<path d="M 635 110 L 235 350 " stroke="black" />
	<path d="M 635 110 L 435 110 " stroke="black" />
	<path d="M 620 80 670 80 Q 695 105 670 130 L 620 130 Q 645 105 620 80 " fill="yellow" />
	<text x="630" y="109" >16</text>
	<path d="M 635 190 L 35 430 " stroke="black" />
	<path d="M 635 190 L 435 110 " stroke="black" />
	<path d="M 620 160 670 160 Q 695 185 670 210 L 620 210 Q 645 185 620 160 " fill="yellow" />
	<text x="630" y="189" >17</text>
	<path d="M 1235 110 L 235 190 " stroke="black" />
	<path d="M 1235 110 L 1035 190 " stroke="black" />
	<path d="M 1220 80 1270 80 Q 1295 105 1270 130 L 1220 130 Q 1245 105 1220 80 " fill="yellow" />
	<circle cx=1286 cy=105 r=7 fill="yellow" />
	<text x="1230" y="109" >11</text>
	<path d="M 1035 190 L 35 530 " stroke="black" />
	<path d="M 1035 190 L 835 430 " stroke="black" />
	<path d="M 1020 160 1070 160 Q 1095 185 1070 210 L 1020 210 Q 1045 185 1020 160 " fill="yellow" />
	<circle cx=1086 cy=185 r=7 fill="yellow" />
	<text x="1030" y="189" >12</text>
	<path d="M 435 270 L 35 330 " stroke="black" />
	<path d="M 435 270 L 235 350 " stroke="black" />
	<path d="M 420 240 470 240 Q 495 265 470 290 L 420 290 Q 445 265 420 240 " fill="yellow" />
	<circle cx=486 cy=265 r=7 fill="yellow" />
	<text x="430" y="269" >14</text>
	<path d="M 235 350 L 35 230 " stroke="black" />
	<path d="M 235 350 L 35 730 " stroke="black" />
	<path d="M 220 320 270 320 Q 295 345 270 370 L 220 370 Q 245 345 220 320 " fill="yellow" />
	<circle cx=286 cy=345 r=7 fill="yellow" />
	<text x="230" y="349" >13</text>
	<path d="M 835 430 L 635 190 " stroke="black" />
	<path d="M 835 430 L 635 110 " stroke="black" />
	<path d="M 820 400 870 400 Q 895 425 870 450 L 820 450 Q 845 425 820 400 " fill="yellow" />
	<circle cx=886 cy=425 r=7 fill="yellow" />
	<text x="830" y="429" >10</text>
	<path d="M 1435 130 L 1435 130 " stroke="black" />
	<rect x="1420" y="112" width="50" height="25" fill="gray"  />
	<text x="1430" y="129" >18</text>
	<path d="M 1435 230 L 1435 230 " stroke="black" />
	<rect x="1420" y="212" width="50" height="25" fill="gray"  />
	<text x="1430" y="229" >19</text>
	<path d="M 1435 330 L 1435 330 " stroke="black" />
	<rect x="1420" y="312" width="50" height="25" fill="gray"  />
	<text x="1430" y="329" >20</text>
	<path d="M 1435 430 L 1435 430 " stroke="black" />
	<rect x="1420" y="412" width="50" height="25" fill="gray"  />
	<text x="1430" y="429" >21</text>
</svg>
